/* reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


/* base */
body {
  font-family: sans-serif;
}


/* layout */
.y-wrap {
  margin: 0 auto;
  width: 90%;
}


/* header */
header {
  background-color: aliceblue;
}

nav {
  display: flex;
  justify-content: space-between;
}

.logo-container {
  width: 160px;
}

.navs {
  align-items: center;
  display: flex;
  list-style-type: none;
}

.navs li {
  margin-left: 18px;
}

.selected {
  color: blueviolet;
}


/* main */
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 22px;
  margin-top: 22px
}

.image-container {
  margin-bottom: 3px;
  margin-top: 3px;
}


/* footer */
address {
  font-style: normal;
  margin-bottom: 16px;
}

address span {
  margin: 0 6px;
}

footer {
  background-color: #3a527a;
  color: rgba(255, 255, 255, 0.7);
  padding: 30px 0;
  text-align: center;
}

.icons-container i {
  margin: 0 8px;
}