* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

.container {
  margin: 10px auto 0;
  max-width: 300px;
  position: relative;
}

.text-container {
  color: white;
  left: 0;
  position: absolute;
  text-align: center;
  top: 64%;
  width: 100%;
}

.title {
  font-size: 1.25rem;
}

p {
  margin: 4px 0;
}